:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-text: #ffffff;
  --secondary-bacground-color: #f5f4fa;
  --third-bacground-color: #afb1b8;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--white-text);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.site-nav-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}
.logo-first {
  color: var(--accent-color);
}
.logo-second {
  color: var(--primary-text-color);
}
.site-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav-list {
  display: flex;
  margin-left: 93px;
}
.site-nav-list .item {
  margin-right: 50px;
}
.site-nav-list > .item:last-child {
  margin-right: 0;
}
.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact .item + .item {
  margin-left: 50px;
}
.contact-icon {
  margin-right: 11px;
}
.contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  fill: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.curent {
  color: var(--accent-color);
  position: relative;
}
.curent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
  bottom: -1px;
  right: 0;
}
.section-hero {
  padding: 200px 0px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #c4c4c4;
}
.hero-text {
  margin: 0;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-text);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
.section-benefits {
  padding: 94px 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits-list {
  display: flex;
  flex-basis: calc(100% / 4);
}
.benefits-list li {
  margin-right: 30px;
}
.benefits-list li:last-child {
  margin-right: 0px;
}
.benefits-logo {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-bacground-color);
  border-radius: 4px;
}
.benefits-title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.benefits-text {
  margin: 0;

  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.about-work {
  margin-bottom: 94px;
}
.about-work-title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--primary-text-color);
}
.about-work-galery {
  display: flex;
  justify-content: space-between;
}
.about-work-tile .image {
  display: block;
}
.about-work-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}
.about-work-tile {
  position: relative;
}
.about-work-tile-text {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  background-color: rgba(47, 48, 58, 0.8);
}
.our-team {
  padding: 94px 0px;
  background-color: var(--secondary-bacground-color);
}
.team-list {
  display: flex;
}
.team-list > .item {
  flex-basis: calc((100% - 30px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list > .item:last-child {
  margin-right: 0px;
}
.item > img {
  display: block;
}
.item-element {
  padding: 30px 0px;
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--primary-text-color);
}
.team-subtitle {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--primary-text-color);
}
.team-text {
  margin: 0;

  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-bottom: 16px;
}
.team-social-links {
  display: flex;
  justify-content: center;
}
.team-social-links-logo {
  display: flex;

  margin-right: 10px;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--third-bacground-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-text);
  cursor: pointer;
}
.team-social-links-logo:last-child {
  margin-right: 0px;
}
.section-clients {
  padding: 94px 0px;
}
.clients-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.clients-list {
  display: flex;
}
.client-item {
  margin-right: 30px;
}
.client-item:last-child {
  margin-right: 0px;
}
.clients-logo {
  display: flex;

  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--third-bacground-color);
  border: 1px solid var(--third-bacground-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-logo:hover,
.clients-logo:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
.site-footer {
  padding: 60px 0px;

  background-color: #2f303a;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer-information {
  margin-right: 70px;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
}
.logo-second-footer {
  color: var(--white-text);
}
.adres-list > li {
  margin-bottom: 9px;
}
.adres-list > li:last-child {
  margin-bottom: 0px;
}
.addres {
  line-height: calc(24 / 14);
  color: var(--white-text);
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres:hover,
.addres:focus {
  color: var(--accent-color);
}
.contact-link-footer {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link-footer:hover,
.contact-link-footer:focus {
  color: var(--accent-color);
}
.our-social-networks {
  margin-top: 8px;
}
.social-network-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}
.our-social-links {
  display: flex;
  justify-content: center;
  margin-right: 93px;
}
.social-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--white-text);
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:last-child {
  margin-right: 0px;
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}
.sing-up {
  margin-top: 8px;
}
.sing-up-title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}
.input-email {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;

  color: var(--white-text);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.input-email:focus {
  outline: none;
}
.input-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sing-up-button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-text);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sing-up-button:hover,
.sing-up-button:focus {
  background-color: #188ce8;
}
.sing-up-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;

  fill: var(--white-text);
}
.products {
  padding: 94px 0px;
}
.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-list > li {
  margin-right: 8px;
}
.filter-list > li:last-child {
  margin-right: 0px;
}
.filter-button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--secondary-bacground-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--white-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.thumb-content {
  position: relative;
  overflow: hidden;
}
.portfolio-content-text {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb-content > .image {
  display: block;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list > .item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-content {
  display: block;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-content:hover .portfolio-content-text,
.portfolio-content:focus .portfolio-content-text {
  transform: translateY(0%);
  opacity: 1;
}
.portfolio-content:hover,
.portfolio-content:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list > .item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-list > .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-item {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.portfolio-title {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-subtitle {
  margin: 0;

  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--secondary-text-color);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}
.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-sign {
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-sign:hover,
.close-sign:focus {
  fill: var(--accent-color);
}
.modal-content {
  padding: 40px;
}
.form-title {
  margin: 0px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
}
.form-field {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.wrapper-input{
  position: relative;
  margin-bottom: 10px;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {  
  padding: 12px 0px 12px 0px;
  padding-left: 42px;

  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.form-input:focus + .modal-icon{
  fill: var(--accent-color);
}
.form-input-comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.form-input-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.form-field-checkbox {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.form-input-checkbox {
  appearance: none;
}
.checkbox-icon-agree {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-wrapper {
  margin-right: 7px;
  position: relative;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-checkbox:checked + .form-field-checkbox .icon-wrapper {
  background-color: var(--accent-color);
  border: none;
}
.form-input-checkbox:checked + .form-field-checkbox .checkbox-icon-agree {
  fill: var(--white-text);
}
.modal-field-button {
  display: flex;
  justify-content: center;
}
.modal-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-text);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background: #188ce8;
}
